#aurora-header {
    color: #00F5CC;
}

#takeoff-header {
    color: #E3C500
}

#satellite-header {
    color: #F1F518;
}

#astronaut-header {
    
}

/*
=====================
FADE EFFECT
=====================
*/



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .astral-fade-in-section-header {
        padding-top: 8vh;
        opacity: 0;
        transform: translateY(15vh);
        visibility: hidden;
        transition: opacity 0.7s ease-out, transform 1.2s ease-out;
        will-change: opacity, visibility;
    }
    
    .astral-fade-in-section-header.is-visible {
        opacity: 1;
        transform: none;
        visibility: visible;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .astral-fade-in-section-header {
        padding-top: 30vh;
        opacity: 0;
        transform: translateY(15vh);
        visibility: hidden;
        transition: opacity 0.7s ease-out, transform 1.2s ease-out;
        will-change: opacity, visibility;
    }
    
    .astral-fade-in-section-header.is-visible {
        opacity: 1;
        transform: none;
        visibility: visible;
    }
}