.appear-in-section {
    font-size: 3vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-out, transform 1s ease-out;
    will-change: opacity, visibility;
}

.appear-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

h1 {
    color: #30BDF7;
    padding-top: 4vh;
}

#flex-container {
    display: flex;
    justify-content: center;
}

#image {
    width: 10vh;
    height: auto;
    margin-left: 3vh;
    margin-top: 5vh;
}