/*
=================================================
General styling and layout
=================================================
*/
.background {
    background-color: #5E4338;
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .lit {
        margin: auto;
        width: 100%;
        padding-top: 5vh;
        display: grid;
        justify-items: center;
        grid-template-areas: 
        "header "
        "motivation"
        "motivation-paragraph"
        "paper"
        "paper"
        "hypergraph-visual"
        "hypergraph-canvas"
        "hypergraph-canvas"
        "hypergraph-canvas"
        "avail-status"
        "avail-status-paragraph"
        "abstract-title"
        "abstract-paragraph";
    }

    #lit-h1 {
        font-size: 5vh;
        color: #F6F0D8;
        border-bottom-color: #CD996A;
        border-bottom-style: solid;
        margin-bottom: 5vh;
        width: 90%;
    }
    
    #lit-h2 {
       color: #FFEFAE;
       font-size: 4vh;
       padding-top: 6vh;
    }
    
    #lit-rev-paragraph {
        color: #F6F0D8;
        width: 80%;
        margin-bottom: 10vh;
        
    }

    .hypergraph-canvas {
        height: 90vh;
    }

    .abstract-title {
        border-top-style: solid;
        border-top-color: #CD996A;
        grid-area: abstract-title;
        width: 90%;
        padding-bottom: 3vh;
    }
    
    .abstract-paragraph {
        grid-area: abstract-paragraph;
        color: #F6F0D8;
        width: 92%;
        margin-bottom: 10vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .lit {
        margin: auto;
        width: 120vh;
        padding-top: 5vh;
        display: grid;
        justify-items: center;
        grid-template-areas: 
        "header header"
        "motivation paper"
        "motivation-paragraph paper"
        ". paper"
        "hypergraph-visual avail-status"
        "hypergraph-canvas avail-status-paragraph"
        "abstract-title abstract-title"
        "abstract-paragraph abstract-paragraph";
    }

    #lit-h1 {
        font-size: 5vh;
        color: #F6F0D8;
        border-bottom-color: #CD996A;
        border-bottom-style: solid;
        margin-bottom: 5vh;
        width: 100%;
    }
    
    #lit-h2 {
       color: #FFEFAE;
       font-size: 3.5vh;
       padding-top: 3vh;
    }
    
    #lit-rev-paragraph {
        color: #F6F0D8;
        width: 51vh;
        margin-bottom: 10vh;
    }

    .abstract-title {
        border-top-style: solid;
        border-top-color: #CD996A;
        grid-area: abstract-title;
        width: 100%;
        padding-bottom: 3vh;
    }
    
    .abstract-paragraph {
        grid-area: abstract-paragraph;
        color: #F6F0D8;
        width: 100%;
        margin-bottom: 10vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .lit {
        margin: auto;
        width: 120vh;
        padding-top: 5vh;
        display: grid;
        justify-items: center;
        grid-template-areas: 
        "header header"
        "motivation paper"
        "motivation-paragraph paper"
        ". paper"
        "hypergraph-visual avail-status"
        "hypergraph-canvas avail-status-paragraph"
        "abstract-title abstract-title"
        "abstract-paragraph abstract-paragraph";
    }

    #lit-h1 {
        font-size: 5vh;
        color: #F6F0D8;
        border-bottom-color: #CD996A;
        border-bottom-style: solid;
        margin-bottom: 5vh;
        width: 100%;
    }
    
    #lit-h2 {
       color: #FFEFAE;
       font-size: 3.5vh;
       padding-top: 3vh;
    }
    
    #lit-rev-paragraph {
        color: #F6F0D8;
        width: 51vh;
        margin-bottom: 10vh;
        
    }

    .abstract-title {
        border-top-style: solid;
        border-top-color: #CD996A;
        grid-area: abstract-title;
        width: 100%;
        padding-bottom: 3vh;
    }
    
    .abstract-paragraph {
        grid-area: abstract-paragraph;
        color: #F6F0D8;
        width: 100%;
        margin-bottom: 10vh;
    }
}





/*
===========================================================
GRID-AREAS & Specialized styling
===========================================================
*/
.project-title {
    grid-area: header;
}

.motivation {
    grid-area: motivation;
}

.motivation-paragraph {
    grid-area: motivation-paragraph;
}

.paper {
    grid-area: paper;
    height: 50vh;
}

.hypergraph-visual {
    grid-area: hypergraph-visual;
}

.hypergraph-canvas {
    grid-area: hypergraph-canvas;
}



.avail-status {
    grid-area: avail-status;

}

.avail-status-paragraph {
    grid-area: avail-status-paragraph;
}

