.lit {
    background-color: #5E4338;
    padding-top: 8vh;
}



#lit-h2 {
   color: #FFEFAE;
}

#lit-h1 {
    text-align: left;
    font-size: 8vh;
    color: #F6F0D8;
    border-bottom-color: #CD996A;
    border-bottom-style: solid;
    margin-right: 15vh;
    margin-left: 15vh;
}

#lit-rev-paragraph {
    color: #F6F0D8;
}