@keyframes pulsate {
    0% {opacity: 1;}
    50% {opacity: 0.35;}
    100% {opacity: 1;}
}

@keyframes float {
    0% {transform: translate(0%, 0%);  }
    50% {transform: translate(1%, 1%); }
   100% {transform: translate(0%, 0%); }
}

.hyper-svg {
    animation: pulsate 5s ease infinite;
    animation: float 5s ease infinite;   
}
