.intro {
  text-align: center;
  margin: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .intro {
    background: linear-gradient(0deg, rgba(255,255,255,1) 61%, rgba(0,0,0,1) 64%, rgba(7,18,84,1) 90%, 
     rgba(29,65,153,1) 100%);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .intro {
    background: linear-gradient(0deg, rgba(255,255,255,1) 57%, rgba(0,0,0,1) 70%, rgba(7,18,84,1) 90%, 
     rgba(29,65,153,1) 100%);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .intro {
    background: linear-gradient(0deg, rgba(255,255,255,1) 52%, rgba(0,0,0,1) 54%, rgba(7,18,84,1) 90%, 
     rgba(29,65,153,1) 100%);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .intro {
    background: linear-gradient(0deg, rgba(255,255,255,1) 53%, rgba(0,0,0,1) 56%, rgba(7,18,84,1) 90%, 
     rgba(29,65,153,1) 100%);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .intro {
    background: linear-gradient(0deg, rgba(255,255,255,1) 39%, rgba(0,0,0,1) 42%, rgba(7,18,84,1) 90%, 
     rgba(29,65,153,1) 100%);
  }
}